/* blog_main.html */

* {
  font-family: verdana, arial, eurpoa, sans-serif;
    border: 1px solid red;
}

.body_container {
  margin-top: 10px;
  margin: auto;
  padding-bottom: 20px;
  height: 2000px;
  width: 100%;
}

body {
  background-color: #F1F0FF;
}

.bulletless {
  list-style-type: none;
  padding-left: 0;
}

.button {
  background-color: #F1F0FF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  padding-left: 30%;
  position: absolute;
  bottom: 0;
}

.button a:hover {
  background-color: #9933FF;
  color: white;
}

/* okay, I cheated, sure. but dashed this small looks dotted so IDGAF */
.button a {
  color: #9933FF;
  background-color: #F1F0FF;
  border-style: dashed;
}

.button:active {

}




/* NAVBAR */
#navbar {
  background-color: #333;

  position: absolute; /* Make it stick/fixed */
  height: 50px;
  top: 0;

  width: 100%;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

#right_navbar {
  /* get background colour to match navbar */
  background-color: #333;
  top: 0;
  right: 0;
  padding-top: 7px;
  padding-right: 15px;
  position: absolute;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #9933FF;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  text-decoration: none;
}

#right_navbar a {
  color: #9933FF;
  background-color: #333;
  text-decoration: none;
}

/* temp fix
      https://getbootstrap.com/docs/4.1/components/buttons/
*/
      #btn-outline-light {
        background-color: #333;
      }

      #btn-outline-light:hover {
        background-color: #9933FF;
      }

/* temp fix end */

#navbar a:hover {
  background-color: #9933FF;
  color: white;
}

/* make right_navbar more like the other navbar buttons.. but in the shape it is now */

#right_navbar a:hover {
  background-color: #9933FF;
  color: white;
}







#content_container {
  height: 100%;
  width: 100%;
  padding-top: 75px;
}
/*
#content_tops {

  background-color: blue;
  height: 500px;
  width: 142px;
}
*/
.tops_container {
  padding: 5px;
  background-color: skyblue;
  float: left;
  height: 40%;
}

.content_tops {
  width: auto;
  height: 20%;
}

#tp1, #tp3, #tp5 {
text-align: left;

}

#tp2, #tp4 {
text-align: center;

}

#top-picks {
      left: 0;
      width: 35%;
      margin: 15px;
}

.content {
  width: 75%;

}

.recents_container{
  float: left;
}

#recents {
  height: 1000px;
  width: 700px;
  margin-left:;
  margin-right: 5%;
  padding: 15px;
  background-color: pink;
}
 /*
#content .recent1, .recent2, .recent3{
  width: 250px;
  position: ;
  display: inline-block;

}
*/

#recent1 {
  float: left;
  height: 200px;
  width: 31.4%;
  display: ;
  margin: 5px;
}
#recent2 {
  float: left;
  height: 200px;
  width: 31.4%;
  display: ;
  margin: 5px;
}
#recent3 {
  float: left;
  height: 200px;
  width: 31.4%;
  display:;
  margin: 5px;
}
#freshest {
  margin: 150px 40px;
  padding: 30px 30px;
  height: 400px;
  width: 90%;
  /* get centered on page */
}





#footer {
  background-color: #9933FF;
  color: #F1F0FF;
  height: 200px;
  padding-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 20px; /* confirm this one */

  text-align: center;
  overflow-x: hidden;
}

#center_upper{
  padding-top: 25px;
}
#center_upper img {
  width: 60px;
  align-self: center;
}
#center_lower {
  padding-top: 30px;
  opacity: 75%;
}
